{% extends 'CRM/base.html' %}

{% load staticfiles %}

{% load bootstrap3 %}

{% block body %}

    <div class="container">
        <div class="col-md-3">
            <h1>创建新预约</h1>

            <form id="client_form" role='form' method="post" action="." enctype="multipart/form-data">

                {% csrf_token %}
                {% bootstrap_form appointment_form size='sm' %}
                {% buttons submit='提交' reset='重置' layout='horizontal' %}{% endbuttons %}
            </form>

        </div>
    </div>
{% endblock %}