

{% extends 'CRM/base.html' %}

{% load bootstrap3 %}

{% load staticfiles %}

{% block body %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">客户预约列表
                <a href="{% url 'add_appointment' %}">
                    <button type="button" class="btn btn-default btn-xs pull-right ">
                        <span class="glyphicon glyphicon-user " aria-hidden="true"></span>
                        创建新预约
                    </button>
                </a>
            </div>

            {% if list %}

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>预约客户</th>
                        <th>预约主题</th>
                        <th>预约日期</th>
                        <th>预约时段</th>
                        <th>确认状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    {% for appointment in list %}
                        <tbody>
                        <tr>
                            <td>{{ appointment.client }}</td>
                            <td>{{ appointment.subject }}</td>
                            <td>{{ appointment.date }}</td>
                            <td>{{ appointment.get_time_slot_display }}</td>
                            <td>{{ appointment.get_confirm_status_display }}</td>
                            <td>
                                <a href="{% url 'edit_appointment' appointment.pk %}">
                                    <button type="button" class="btn btn-default btn-xs  ">
                                        <span class="glyphicon glyphicon-edit " aria-hidden="true"></span>
                                        编辑
                                    </button>
                                </a>
                                <a href="{% url 'delete_appointment' appointment.pk %}"
                                   class=" btn btn-xs btn-danger">

                                    <span class="glyphicon glyphicon-remove " aria-hidden="true"></span>
                                    删除

                                </a>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>

            {% else %}
                <h1>不存在预约记录</h1>
            {% endif %}

        </div>


{% endblock %}