{% extends "CRM/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block body %}
        <div class="container">
            <div class="form-inline ">
                <form action="" method="get">
                    {% for field in clients.form %}
                        {{ field.label_tag }}:{% bootstrap_field field show_label=False show_help=False size='small' %}
                        {{ field.errors }}
                    {% endfor %}
                    <input type="submit"/>
                </form>
            </div>
        </div>
    <hr>
    {% bootstrap_messages %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">客户列表

                <a href="{% url 'add_client' %}">
                    <button type="button" class="btn btn-default btn-xs pull-right ">
                        <span class="glyphicon glyphicon-user " aria-hidden="true"></span>
                        创建新客户


                    </button>
                </a>
            </div>

            <!-- Table -->
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>客户编号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>联系方式</th>
                    <th>客户状态</th>
                    <th>VIP级别</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>


                <tbody>
                {% for client in f %}
                    <tr>
                        <td><a href="{% url 'client_detail' client.code %}">{{ client.code }}</a></td>
                        <td>{{ client.name }}</td>
                        <td>{{ client.get_gender_display }}</td>
                        <td>{{ client.phone }}</td>
                        <td>{{ client.get_client_status_display }}</td>
                        <td>{{ client.get_vip_class_display }}</td>
                        <td>{{ client.created }}</td>
                        <td>
                            <a href="{% url 'edit_client' client.code %}">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-edit " aria-hidden="true"></span>
                                编辑
                            </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>


            </table>
            <div align="center">
                {% bootstrap_pagination f url=request.get_full_path size="small" %}
            </div>
        </div>
        </div>

{% endblock %}